XMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="subject" type="xs:string" />
        <xs:element name="mark" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="name" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
